@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

@import "tailwindcss";

@theme {
  --breakpoint-xs: 30rem;
  --font-geist: "Geist", sans-serif;
}

html {
  font-family: var(--font-geist);
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  line-height: 1.5;
  font-weight: 400;

  color: oklch(0.985 0 0);
  background-color: oklch(0.141 0.005 285.823);
}
